---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on my <a href="https://scholar.google.com/citations?user=4J45hw0AAAAJ&hl=en">Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
<p align="justify">
  <h2>Journal Articles</h2>
  <ol reversed>
    <li><strong>Xu, T.</strong>, Taeb, A., Küçükyavuz, S., & Shojaie, A. (2025). Integer Programming for Learning Directed Acyclic Graphs from Non-identifiable Linear Models. <em>Biometrika</em>. [<a href="https://doi.org/10.1093/biomet/asaf032" target="_blank" rel="noopener noreferrer">Link</a>] [<a href="https://github.com/AtomXT/MICP-NID" target="_blank" rel="noopener noreferrer">Code</a>]</li>
    
    <li>Ravikumar, V., <strong>Xu, T.</strong>, Al-Holou, W. N., Fattahi, S., & Rao, A. (2023). Efficient Inference of Spatially-varying Gaussian Markov Random Fields with Applications in Gene Regulatory Networks. <em>IEEE/ACM Transactions on Computational Biology and Bioinformatics</em>. [<a href="https://ieeexplore.ieee.org/abstract/document/10144439" target="_blank" rel="noopener noreferrer">Link</a>] [<a href="https://github.com/AtomXT/coordinate-descent-for-bayesian-networks" target="_blank" rel="noopener noreferrer">Code</a>]</li>
  </ol>
  
  <h2>Preprints</h2>
  <ol reversed>
    <li><strong>Xu, T.</strong>, Küçükyavuz, S., Shojaie, A., & Taeb, A. An Asymptotically Optimal Coordinate Descent Algorithm for Learning Bayesian Networks from Gaussian Models. <em>Journal of Machine Learning Research (JMLR), Minor Revision</em>. [<a href="https://arxiv.org/abs/2408.11977" target="_blank" rel="noopener noreferrer">Link</a>]</li>
  </ol>
  
  <h2>Working Papers</h2>
  <ul>
    <li><strong>Xu, T.</strong>, Taeb, A., Küçükyavuz, S., & Shojaie, A. (2025). Asymptotically Optimal Learning of Bayesian Networks under Unknown Interventions from Gaussian Models.</li>
    
    <!-- <li><strong>Xu, T.</strong>, Zhang, X., Küçükyavuz, S., Shojaie, A., & Taeb, A. (2025). Best Coordinate Descent: A Consistent Algorithm for \(\ell_0\)-Penalized Sparse Regression.</li> -->
    
    <li><strong>Xu, T.</strong>, Fattahi, S., Gómez, A., & Küçükyavuz, S. (2025). Adaptive Linear Cuts for the Convex Hull of Low-Rank Quadratic Programming with Indicators.</li>
  </ul>
</p>


